<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html>
<html>

<head>
    <title>Payment Method</title>
    <link rel="stylesheet" href="css/payment.css">
    </style>
</head>

<body>

    <div class="top-container">
        <div class="starbucks-logo"> </div>
    </div>
    <div class = "payment-method" >
        <h1>
            Add Payment Method
        </h1>
    </div>

    <div>
        <h2>Credit/Debit Cards</h2>

        <h3>Please enter your payment information</h3>

         <form  enctype="multipart/form-data"><pre>
          <label for="fname"><i class= "fa fa-user"></i> Name on Card</label>
          <input type="text" name="userName" placeholder="Nancy Lee" autocomplete = "off">
          <label for="fname"><i class="fa fa-user"></i> Card Number</label>
          <input type="number" name="userCard" placeholder="1111-2222-3333-4444" autocomplete = "off">
          <label for="fname"><i class="fa fa-user"></i> Card Type</label>
          <input type="text" name="text" placeholder="Visa/MasterCard" autocomplete = "off">
          <label for="fname"><i class="fa fa-user"></i> CVN</label>
          <input type="number" name="cvn" placeholder="123" autocomplete = "off">
          <label for="fname"><i class="fa fa-user"></i> Expiration Date</label>
          <input type="datetime" name="datetime" placeholder="08/23" autocomplete = "off">
         
      
         
    </pre></form>
    </div>
   

</body>

</html>