<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html>
<html>

<head>
    <title>Payment Method</title>
    <link rel="stylesheet" href="css/payment.css">
    </style>
</head>

<body>

    <div class="top-container">
        <div class="starbucks-logo"> </div>
    </div>


    <form name="form" th:object="${command}" method="post" action="">


    <div class="col-75">
        <div class="fcontainer">
            <div class="row">
                <div class="col-50">

                    <h3>ADD PAYMENT METHOD</h3>
                    <div class="col-50">
                        <h4>Order total:</h4>
                        <span th:text="${transactionAmount}" />
                    </div>


                </div>

                <div class="col-50">
                    <h3>CREDIT/DEBIT CARDS</h3>
                    <h4>Please enter your payment information</h4>

                    <label for="fname">Accepted Cards</label>
                   
                        <div class="col-50">
                            <label for="ccname">Credit Card Name</label>
                            <input type="text" id="ccnum" name="cardname" placeholder="John Doe" th:field="*{cardname}" >
                               
                        </div>
                        <div class="col-50">
                            <label for="ccnum">Credit Card Number</label>
                            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444" th:field="*{cardnum}">
                              
                        </div>
                        <div class="col-50">
                            <label for="expmonth">Exp Month</label>
                            <input type="text" id="expmonth" name="expmonth" placeholder="September" th:field="*{cardexpmon}">
                        </div>
                        <div class="col-50">
                            <label for="expyear">Exp Year</label>
                            <input type="text" id="expyear" name="expyear" placeholder="2018" th:field="*{cardexpyear}">
                        </div>
                        <div class="col-50">
                            <label for="cvv">CVV</label>
                            <input type="text" id="cvv" name="cvv" placeholder="352" th:field="*{cardcvv}">
                        </div>

                        <input type="submit" name="action" id="process-payment" value="Process Payment" class="btn">
                  
                </div>

            </div>

            
            <br />
            <br />
            <br />
            <div th:if="${not#lists.isEmpty(messages)}">
                <div class="messages">
                    <ul th:each="m : ${messages}">
                        <li th:text="${m.msg}"></li>
                    </ul>
                </div>
            </div>

            <div class="message">
                <span th:text="${message}" />
            </div>

            <br />
            <br />
        </div>
    </div>
   

    </form>


</body>

</html>