<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html>
<html>

<head>
    <title>Starbucks Menu</title>
    <link rel="stylesheet" href="css/menu.css">
    </style>
</head>

<body>

    <div class="top-container">
        <div class="starbucks-logo"> </div>
        <div class="top-tabs">
            <ul class="nav-item">
                <a class="nav-link" th:href="@{/menu}">Menu </a>
                <a class="nav-link" th:href="@{/starbucksreward}">Rewards </a>
                <a class="nav-link" th:href="@{/starbuckscard}">Gift Cards </a>
            </ul>
        </div>
        <div class="right-tabs">
            <ul class="nav-item">
                <img class="location-logo"></img>
                <a class="find-store" th:href="@{/map}">Find a Store </a>
            </ul>
        </div>
    </div>
    <div class="safety-guidelines-covid">
        <div class="guidelines">
            <p>
                We require facial coverings in all stores to protect the health of our customers and
                partners(employees), and
                help stop the spread of COVID-19.
                <a href="https://www.cdc.gov/coronavirus/2019-ncov/communication/guidance.html"> Learn More. </a>
            </p>
        </div>
    </div>
    <form name="form" th:action="@{/order}" th:object="${order}" method="post">
    
        <div class="menu-container" id="menu-container">
            <div class="menu-title" id="menu-title">
                <div class="title" id="title">
                    <h2>brewedCoffees</h2>
                </div>
                <div class="menu-list" id="menu-list">
                    <div>
                        <div class="drink-list" th:each="drink : ${brewed_cofee}">
                            <input name="price" type="checkbox" th:value="${drink.price}" />
                            <li class="drink-name" th:text="${drink.drink_name}"> </li>
                            <li class="price" th:text="${drink.price}"> </li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-list" id="menu-list">
                <div th:each="drink : ${hot_coffee}">
                    <input name="drinks" style="float: left; margin-top: 6px;" id="espresso" type="checkbox" th:value="${drink.id}" onclick="displayOrder('espresso')" />
                    <div style="margin-left: 25px">
                        Espresso
                    </div>
                    <input name="drinks" style="float: left; margin-top: 6px;" id="espressoconpanna" type="checkbox" th:value="${drink.id}" onclick="displayOrder('espressoconpanna')" />
                    <div style="margin-left: 25px">
                        Espresso con Panna
                    </div>
                    <input name="drinks" style="float: left; margin-top: 6px;" id="espressomacchiato" type="checkbox" th:value="${drink.id}" onclick="displayOrder('espressomacchiato')" />
                    <div style="margin-left: 25px">
                        Espresso Macchiato
                    </div>
                    <span th:text="${drink.name}"></span><br />
                </div>  
            </div>

        </div>
   
        <div class="menu-container" id="menu-container">

        <div class="menu-title" id="menu-title">
            <div class="title" id="title">
                <h2>Teas and Coffees</h2>
            </div>
            <div class="menu-list" id="menu-list">
                <div th:each="drink : ${cold_coffee}">
                    <input name="drinks" style="float: left; margin-top: 6px;" id="caffeamericano" type="checkbox" th:value="${drink.id}" onclick="displayOrder('caffeamericano')" />
                    <div style="margin-left: 25px">
                        Caffe Americano
                    </div>
                    <input name="drinks" style="float: left; margin-top: 6px;" id="blonderoast" type="checkbox" th:value="${drink.id}" onclick="displayOrder('blonderoast')" />
                    <div style="margin-left: 25px">
                        Blonde Roast
                    </div>
                    <input name="drinks" style="float: left; margin-top: 6px;" id="caffemisto" type="checkbox" th:value="${drink.id}" onclick="displayOrder('caffemisto')" />
                    <div style="margin-left: 25px">
                        Caffe Misto
                    </div>
                    <input name="drinks" style="float: left; margin-top: 6px;" id="featuredstarbucksdarkroastcoffee" type="checkbox" th:value="${drink.id}" onclick="displayOrder('featuredstarbucksdarkroastcoffee')" />
                    <div style="margin-left: 25px">
                        Featured Starbucks Dark Roast Coffee
                    </div>
                    <input name="drinks" style="float: left; margin-top: 6px;" id="pikeplaceroast" type="checkbox" th:value="${drink.id}" onclick="displayOrder('pikeplaceroast')" />
                    <div style="margin-left: 25px">
                        Pike Place Roast
                    </div>
                    <input name="drinks" style="float: left; margin-top: 6px;" id="decafpikeplaceroast" type="checkbox" th:value="${drink.id}" onclick="displayOrder('decafpikeplaceroast')" />
                    <div style="margin-left: 25px">
                        Decaf Pike Place Roast
                    </div>
                    <div style="margin-left: 25px">
                        Cappuccino
                    </div>
                    <input name="drinks" style="float: left; margin-top: 6px;" id="flatwhite" type="checkbox" th:value="${drink.id}" onclick="displayOrder('flatwhite')" />
                    <div style="margin-left: 25px">
                        Flat White
                    </div>
                    <input name="drinks" style="float: left; margin-top: 6px;" id="honeyalmondmilkflatwhite" type="checkbox" th:value="${drink.id}" onclick="displayOrder('honeyalmondmilkflatwhite')" />
                    <div style="margin-left: 25px">
                        Honey Almondmilk Flat White
                    </div>
                    <input name="drinks" style="float: left; margin-top: 6px;" id="caffelatte" type="checkbox" th:value="${drink.id}" onclick="displayOrder('caffelatte')" />
                    <div style="margin-left: 25px">
                        Caffe Latte
                    </div>
                    <input name="drinks" style="float: left; margin-top: 6px;" id="cinnamondolcelatte" type="checkbox" th:value="${drink.id}" onclick="displayOrder('cinnamondolcelatte')" />
                    <div style="margin-left: 25px">
                        Cinnamon Dolce Latte
                    </div>
                    <input name="drinks" style="float: left; margin-top: 6px;" id="starbucksreservelatte" type="checkbox" th:value="${drink.id}" onclick="displayOrder('starbucksreservelatte')" />
                    <div style="margin-left: 25px">
                        Starbucks Reserve Latte
                    </div>
                    <input name="drinks" style="float: left; margin-top: 6px;" id="starbucksreservehazelnutbiancolatte" type="checkbox" th:value="${drink.id}" onclick="displayOrder('starbucksreservehazelnutbiancolatte')" />
                    <div style="margin-left: 25px">
                        Starbucks Reserve Hazelnut Bianco Latte
                    </div>
                    <input name="drinks" style="float: left; margin-top: 6px;" id="starbucksblondevanillalatte" type="checkbox" th:value="${drink.id}" onclick="displayOrder('starbucksblondevanillalatte')" />
                    <div style="margin-left: 25px">
                        Starbucks Blonde Vanilla Latte
                    </div>
                    <input name="drinks" style="float: left; margin-top: 6px;" id="caramelmacchiato" type="checkbox" th:value="${drink.id}" onclick="displayOrder('caramelmacchiato')" />
                    <div style="margin-left: 25px">
                        Caramel Macchiato
                    </div>
                    <input name="drinks" style="float: left; margin-top: 6px;" id="espressomacchiato" type="checkbox" th:value="${drink.id}" onclick="displayOrder('espressomacchiato')" />
                    <div style="margin-left: 25px">
                        Espresso Macchiato
                    </div>
                    <input name="drinks" style="float: left; margin-top: 6px;" id="caffemocha" type="checkbox" th:value="${drink.id}" onclick="displayOrder('caffemocha')" />
                    <div style="margin-left: 25px">
                        Caffe Mocha
                    </div>
                    <input name="drinks" style="float: left; margin-top: 6px;" id="starbucksreservedarkchocolatemocha" type="checkbox" th:value="${drink.id}" onclick="displayOrder('starbucksreservedarkchocolatemocha')" />
                    <div style="margin-left: 25px">
                        Starbucks Reserve Dark Chocolate Mocha
                    </div>
                    <input name="drinks" style="float: left; margin-top: 6px;" id="whitechocolatemocha" type="checkbox" th:value="${drink.id}" onclick="displayOrder('whitechocolatemocha')" />
                    <div style="margin-left: 25px">
                        White Chocolate Mocha
                    </div>
                    <span th:text="${drink.name}"></span>
                    <br />
                </div>
            </div>
            <div class="menu-title" id="menu-title">
                <div class="title" id="title">
                    <h2>mocha</h2>
                </div>
                <div class="menu-list" id="menu-list">
                    <div>
                        <div class="drink-list" th:each="drink : ${mocha}">
                            <input name="drink" type="checkbox" th:value="${drink.drink_name}" />
                            <li class="drink-name" th:text="${drink.drink_name}"> </li>
                            <li class="price" th:text="${drink.price}"> </li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-title" id="menu-title">
                <div class="title" id="title">
                    <h2>capuccino</h2>
                </div>
                <div class="menu-list" id="menu-list">
                    <div>
                        <div class="drink-list" th:each="drink : ${capuccino}">
                            <input name="drink" type="checkbox" th:value="${drink.drink_name}" />
                            <li class="drink-name" th:text="${drink.drink_name}"> </li>
                            <li class="price" th:text="${drink.price}"> </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="register-container" id="register-container">
            <div>
                <h2>Check Out</h2>
            </div>
            <div class="register" id="register">
                <div class="orders" id="orders">
                    <h3>Your Orders</h3>
                    <div class="payment-selection">
                    </div>
                </div>
                <div class="payment" id="payment">
                    <h3> Select Payment</h3>
                    <div class="payment-selection">
                        <div class=card id="card">
                            <input class="question-button"  name="action" type="submit" Value="Check Out with Card"/>
                        </div>
                        <div class=card id="card">
                            <h3>Rewardsadasd</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form name="form" th:action="@{/question}" th:object="${question}" method="post">
        <div class="question-container" id="question-container">
            <div class="question-label" id="question-label">
                <h4> Have a question?</h4>
            </div>
            <div class="question-label" id="question-label">
                <p> We'll get back to you as soon as possible.</p>
            </div>
            <div class="question-box" id="question-box">
                <input class="question-input" type="text" id="question" name="question"
                    placeholder="How can I get a reward card?">
                <input class="question-button" type="submit" name="action" id="question-submit" value="Send">
            </div>
        </div>
    </form>

</body>

</html>