<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html>
<html>

<head>
    <title>Welcome to Starbuckss</title>
    
    <link rel="stylesheet" href="css/starbucksorder.css">
    </style>
</head>

<body>
  
    <div class="title-container">
        <h1>Welcome to Starbucks Reserves</h1>
    </div>
    <div class="register-container">
        <div class="box-1">
            <p>
              
            </p>
        </div>    
    </div>
    <div class="image-container">

    </div>
  
    <form name="form" th:object="${command}" method="post" action="">
        <input type="submit" name="action" id="testApi" value="Get all cards">
    </form>

    <form name="form" th:object="${command}" method="post" action="">
        <input type="submit" name="action" id="testApi" value="Place Order">
    </form>

</body>

</html>