body{
    align-self: center;
    background-size: 100% 100%;
    align-self: center;
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
}
.top-container {
    margin-top: 20px;
    width: 100%;
    border-bottom: 1px solid #808080;
    display: flex;
    justify-content: flex-start;

}
.starbucks-logo{
    background-image: url('../images/starbucks_logo.png');
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    align-self: center;
    margin-left: 10px;
    
}
.top-tabs{
    flex-direction: row;
    font-size: large;
}
.nav-item{
    font-size: large;
    color: black;
    display: flex;
    justify-content: space-around;
    width: 300px;
}
.nav-link{
    font-size: 24px;
    color: black;
    text-decoration: none;
}
.right-tabs{
    flex-direction: row;
    margin-left: 48%;
}
.location-logo{
    background-image: url('../images/location.png');
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    align-self: center;
    border: 0px;
}

.fcontainer {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 50%;
  margin-bottom: 10px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 5px;
  display: block;
}

  
* {
  box-sizing: border-box;
  }
  
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}
  
.col-25 {
  -ms-flex: 15%; /* IE10 */
  flex: 15%;
  }
  
.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  }
  
.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}
  

.col-50,
.col-75 {
  padding: 20px 30px;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}
  
.message {
  border: 1px dash gray ;
  text-align: center;
}
.error-message{
  color: pink;
}


